<div class="container">
    <div class="row align-items-center">
      <div class="col-md-4 offset-md-4 login-wrapper">
<h1 class="text-center">Login</h1>
<form #formulario="ngForm" (ngSubmit)="registrar(formulario)">
	<div class="form-group">
		<label for="exampleInputEmail1">Correo</label>
		<div class="input-group mb-3">
			<div class="input-group-prepend">
				<span class="input-group-text" id="basic-addon1">@</span>
			</div>
			<input type="text" class="form-control" placeholder="Ingrese email" aria-label="Username" aria-describedby="basic-addon1" ngModel name="correo" required email #correo="ngModel">
      <span *ngIf="correo.invalid && correo.touched && correo.errors.required">El correo es obligatorio</span>
      <span *ngIf="correo.invalid && correo.touched && correo.errors.email">Formato inválido</span>
		</div>
	</div>
	<div class="form-group">
		<label for="exampleInputPassword1">Contraseña</label>
		<div class="input-group mb-3">
			<div class="input-group-prepend">
				<span class="input-group-text" id="basic-addon2">@</span>
			</div>
			<input type="password" class="form-control" placeholder="" aria-label="Password" aria-describedby="basic-addon2" ngModel name="password" required #password="ngModel">
      <span *ngIf="password.invalid && password.touched ">La contraseña es obligatoria</span>
		</div>
	</div>
	<button class="btn btn-primary" [disabled]="formulario.invalid">Ingresar</button>
	<!-- <button class="btn btn-primary" (click)="loguearse()">Ingresar</button> -->
</form>
      </div>
    </div>
  </div>